## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [28]:
n = 22
print(n)

22

2) Imprimir el tipo de dato de la constante 8.5

In [29]:
n1 = 8.5
type(n1)

float

4) Crear una variable que contenga tu nombre

In [30]:
val = "arealdo"
print(val)

arealdo

5) Crear una variable que contenga un número complejo

In [31]:
nc =  12 + 27j
nc2 = 24 + 32j
nc3 = nc - nc2
print(nc3)
type(nc3)

(-12-5j)

complex

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [32]:
type(nc3)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [33]:
pi = 3.1415

print(type(pi))
print(pi)

<class 'float'>
3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [51]:
val1 = True
val2 = "True"

In [65]:
print(type(val1))
print(type(val2))

<class 'bool'>
<class 'str'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [52]:
print(type(val1))
print(type(val2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [66]:
num = 12
num2 = 54
print(num + num2 + pi)
print(pi + n)

69.1415
25.1415

11) Realizar una operación de suma de números complejos

In [67]:
nc2 = 19 + 9j
print(nc + nc2)
print(nc + nc3 - nc)
print(nc2)

(31+36j)
(-12-5j)
(19+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [55]:
print(n + nc2)
print(n)
print(nc2)

(41+9j)
22
(19+9j)

13) Realizar una operación de multiplicación

In [69]:
print(n * 14)
print(n * 14 * nc)
print(n)

308
(3696+8316j)
22

14) Mostrar el resultado de elevar 2 a la octava potencia

In [57]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [58]:
res1 = 27/4
print(res1)

6.75

16) De la división anterior solamente mostrar la parte entera

In [59]:
res2 = 27//4
print(res2)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [60]:
res3 = 27%4
print(res3)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [61]:
print("Arealdo " + "Jose " + "Delgado " + "Barreto")

Arealdo Jose Delgado Barreto

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [72]:
ejem2 = "2"
ejem3 = 2
print(int(ejem2) + ejem3)

4

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [75]:
ejem2 = "2"
ejem3 = 2
print(ejem2 + str(ejem3))
ejem2 == ejem3

22

False

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [81]:
afl =("3,8")
afl = (afl.replace(",","."))
afl = float(afl)
print(afl)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [78]:



b = -4
b -= 6
n -= 7
print(b)

-10

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string